
<div class="background-image-container">
  <div class="container">
    <div class="jumbotron jumbotron-fluid text-center px-5">
      <div class="flex-wrap px-5">
        <div id="custom_home_news">
          <h1 class="">Menno Library</h1>
          <ds-search-form [inPlaceSearch]="false" [searchPlaceholder]="'home.search-form.placeholder' | translate"></ds-search-form>
          <p class="lead">Menno Library is digital service that collects, preserves, and distributes digital materials.</p>
        </div>
      </div>
    </div>
  </div>
</div>
